
.sbarra{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 0.9;
    margin-top: 450px;
}
section .sbarra
{
    margin:0px;
    opacity: 1.0;

}
.sbarra h1
{
    font-family: 'Julius Sans One', sans-serif;
    text-transform: capitalize;
    color:white;
    font-size: 40px;
    font-style: normal;
    border-bottom: none;
    margin: 0px;
}
.sbarra img
{
    height: 48px;
    width: 48px;
}


.bottoni{

    cursor: pointer;
    margin-top: 3%;
    margin-left: 1%;
    text-transform: uppercase;
    border-radius: 10px;
    outline: none;
    padding: 5px 15px;
    border: 2px solid rgba(0, 0, 0, 0.329);
}



#main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:30px;
}

section {
    font-family: 'Comfortaa', 'Times New Roman', cursive;

}

#main div{

    text-transform: uppercase;
    color:black;
    border-radius: 10px;
    text-decoration:none;
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: ease-out 500ms;
    position: relative;
    padding:20px;
    width: 25%;
}
#main p{
    font-weight: bold;
    color: #505050;
}
.em{
    color: rgba(144, 0, 144, 0.84);
    font-weight: bold;
    padding:15px;
}
#main div:hover{
    box-shadow:0 10px 20px 0 rgba(0, 0, 0, 0.30);
    opacity: 0.9;
}
.immagini_principali {
    width: 350px;
    margin-top:30px;
    height:250px;
}
.icona{
    width: 48px;
    height: 48px;
    position: absolute;
    top:0;
    left:0;
}
.tit_es{
    color:teal;
    font-weight: lighter;
    padding:5px;
    margin-top:30px;
}
.sed{
   /* color:rgba(0, 139, 139, 0.94);*/
    background-color: rgba(0, 139, 139, 0.94);
    position: absolute;
    color:white;
    top:0;
    left:10px;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 1px 1px rgba(0, 139, 139, 0.94);
    padding: 10px;
}

.info{
    color: rgba(0, 139, 139, 0.94);
    padding: 10px;
    opacity: 0.9;
    text-decoration: underline;
    font-weight: bolder;
    font-style: oblique;
    border-radius: 30px;
}

.pointer{
    cursor:pointer;
}


@media(max-width:500px) {
    body {
        font-size: 15px;
    }

    header {
        width: 100%;
    }

    #menu,
    header nav a {
        display: none;
    }

    #menutendina {
        display: block;
    }

   #main div{
       padding:30px;
       margin:40px;
       width: 100%;
   }
}
